mixin logo (title)
  a(href="./index.html").logo.logo__wrap
    include ./logo.pug
    if title
      span.logo-slash /
      span.logo-txt.title-h4= title

mixin langItem (langName, langClass)
  li.lang-list__item(class= langClass)
    button.lang-list__link.txt--uppercase.txt--bold(href="#")= langName

mixin navItem (navHref, navName)
  li.nav-list__item
    a(href= navHref, class=logoTitle == navName ? 'nav-active' : '').txt--bold.nav-list__link= navName

mixin serviceItem (iconName, serviceHref, serviceTitel)
  .services-list__item
    .services-list__img.flex--center
      object.services-list__img--icon(data="./assets/svg/" + iconName + ".svg")
    h3.title-h3.services-list__title.txt--bold
      a(href= serviceHref).services-list__title--link.txt--blue= serviceTitel
    block

mixin headingTitle (hrefHead, titleName)
  .heading
    a(href= hrefHead).heading__link.txt--caps.txt--bold.txt--uppercase.txt--blue.flex-d.flex-align--center= titleName
      span.arrow

mixin clientsItem (clientClass, logoClient, clientAlt, noneClass)
  .clients-list__item(class= clientClass,class= noneClass)
    .clients-list__item-img.flex--center
      img(src="./assets/img/" + logoClient, alt= clientAlt)

mixin publicationsItem (publicImg, publicAlt, publicTitle, publicDate)
  .publications-list__item
    .publications-list__img
      img.publications-list__img--photo(src="./assets/img/" + publicImg, alt= publicAlt)
    .publications-list__info
      h4.publications-list__info-title.txt--main.txt--bold.txt--blue= publicTitle
      p.publications-list__info-date.txt--uppercase.txt--grey.txt--bold= publicDate
      block

mixin aboutlist (aboutIcon, aboutNumber)
  li.about-intro__item
    .about-intro__wrap.flex-d.flex-align--center
      object.about-intro__icon(data="./assets/svg/" + aboutIcon)
      span.about-intro__number.txt--bold.txt--gradient= aboutNumber
    block

mixin achievementsItem (achievementsImg, achievementsAlt)
  .achievements-carousel__inner.flex--center
    .achievements-carousel__img
      img(src="./assets/img/" + achievementsImg, alt= achievementsAlt)

mixin membersItem (memberPhoto, memberAlt, memberNameLink, memberName, memberPosition, arrowLink)
  .members-list__item
    .members-list__img
      img.members-list__img--photo(src="./assets/img/" + memberPhoto, alt= memberAlt)
    .members-list__about
      a.members-list__about-person.txt--main.txt--bold.txt--dark(href= memberNameLink) 
        p.members-list__about-person--name= memberName
        p.txt--caps-md.txt--grey= memberPosition
      a.members-list__about-arrow(href= arrowLink)
        span.arrow.members-arrow
